.general {
    width: 90%;
    margin: auto;
    margin-top: 3rem;
}
.general__title {
    font-weight: 500;
    color: var(--blue-dark);
}
.general__list {
    font-size: 1.4rem;
    margin-top: 2rem;
    padding-left: 1.3rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.general__item {
    margin-bottom: 1rem;
}

/* CONFIGURACIÓN  */
@media only screen and (max-width: 480px) {
    .general__list {
        grid-template-columns: repeat(1, 1fr);
    }
}