.active{
    display: block;
}
.sectionCertificate__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 1.5rem;
}
.sectionCertificate__list li {
    list-style: none;
}

.sectionCertificate__img {
    width: 100%;
}

/* CONFIGURACIÓN 1920 X 1080 */
@media only screen and (min-width: 1900px) {
}