.sectionHome {
    max-width: 60rem;
}
.active{
    display: block;
}
.sectionHome__legend {
    font-weight: 600;
}
.sectionHome__description {
    margin-top: 3rem;
}
.sectionHome hr {
    margin-top: 5rem;
}
.sectionHome__portfolioLink {
    margin-top: 2rem;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
}
.sectionHome__certificateLink {
    display: inline;
    color: var(--text-color-dark);
    text-decoration: underline;
    cursor: pointer;
}
.sectionHome span {
    font-size: 2rem;
    font-weight: 800;
}