.active {
    display: block;
}

/* STYLE COMPONENT */
.sectionContact__ {
    width: 80%;
    margin: auto;
    margin-top: 10rem;

    display: flex;
}

.sectionContact__banner {
    margin-right: 5rem;
}
.sectionContact__img {
    width: 70%;
    margin-top: 3rem;
}

.line {
   display: none;
}

.form {
    min-width: 35rem;
    max-height: 50rem;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.form__titleInput {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}
.form__inputBox {
    padding: 0.5rem;
    border: 1px solid var(--text-color-opacity);
    border-radius: 5px;
    margin-bottom: 2rem;

    display: flex;
    align-items: center;
}
.form__ico {
    width: 2rem;
}

.form__input{
    width: 100%;
    height: 3rem;
    margin-left: 0.5rem;
    border: 0;
    outline: none;
    color: var(--blue-dark);
    font-size: var(--p);
}
.form__input--textarea {
    width: 100%;
    height: 20rem;
    resize: none;
    padding: 1rem;
}
.form__btn {
    border: 0;
    width: 10rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--blue-dark);
    color: #fff;
    font-size: var(--p);
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.form__btn:hover {
    background-color: var(--text-color-lite);
    transition: 0.3s;
}


/* configuración para laptop */
@media only screen and (max-width: 1366px) {

    .sectionContact__ {
        width: 100%;
    }

}
@media only screen and (max-width: 1024px) {

    .sectionContact__ {
        width: 80%;
        margin-top: 0rem;
        flex-direction: column;
    }
    .sectionContact__banner {
        margin-right: 0rem;
    }
    .sectionContact__img {
        display: none;
    }
    .line {
        display: block;
        margin: 5rem 0;
     }
}
@media only screen and (max-width: 480px) {

    .sectionContact__ {
        width: 100%;
        margin-top: 0rem;
        flex-direction: column;
    }
}