#modal {
    margin: auto;
    border: 0;
    border-radius: 5px;
}
.modal-content {
    width: 40rem;
    height: 15rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#modal p {
    font-size: 2rem;
}
#btn-to-close {
    width: 15rem;
    height: 4rem;
    border-radius: 5px;
    margin-top: 4rem;
    color: #fff;
    font-size: var(--p);
    background-color: var(--blue-dark);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-to-close:hover {
    background-color: var(--blue-lite);
}