.active {
    display: block;
}

.sectionStacks__stacksList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem,1fr));
    gap: 1.5rem;
    justify-items: center;
}