.ico_list {
    width: 100%;
    list-style: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid var(--text-color-opacity);

    display: flex;
    justify-content: space-around;
}
.ico_list li a {
    padding: 0.5rem;
    border-radius: 0.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
.ico_list li a:hover {
    background-color: var(--blue-hover);
}
.ico_list li img {
    width: 1.8rem;
    height: 1.8rem;
}
