* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html {
  font-size: 10px;
  color: var(--text-color-lite);
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: var(--h1);
  color: var(--blue-lite);
  margin-bottom: 3.5rem;
}

p {
  font-size: var(--p);
  font-weight: 300;
  line-height: 3rem;
  color: var(--text-color-lite)
}
.section {
  display: none;
  max-width: 120rem;
  margin: auto;
}

/* configuración para laptop */
@media only screen and (max-width: 1366px) {
  .section {
      max-width: 90rem;
  }
}


/* COLOR VARIABLES */
:root {
  --text-color-dark:      #0F172A;
  --text-color-lite:      #343434;
  --text-color-opacity:   rgb(148 163 184);
  --blue-dark:            #17202A;
  --blue-lite:            #1E293B;
  --blue-hover:           rgb(226 232 240);
}

/* TAMAÑOS DE FUENTES */
:root {
    --h1: 4rem;
    --h2: 3.5rem;
    --p: 1.6rem;
}